<section class="revol-editor">
  <div class="revol-editor__content-wrapper">
    <h2 class="revol-editor__header">Revolutionary editor</h2>

    <p class="revol-editor__txt">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
      vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
    </p>

    <ul class="revol-editor__git-features-list">
      <li>
        <div class="git-feature git-feature--watch">
            <div class="git-feature__main-content">
              <span class="git-feature__icon"></span><span> Watch </span
              ><span class="git-feature__counter">1,397</span>
                <span class="git-feature__dropdown-icon"></span>
            </div>
        </div>
      </li>

      <li>
        <div class="git-feature git-feature--star">
          <button class="git-feature__main-content">
            <span class="git-feature__icon"></span><span> Star </span
            ><span class="git-feature__counter">21,038</span>
          </button>
          <div class="git-feature__details">
              <div class="git-feature__dropdown-icon-wrapper">
                <span class="git-feature__dropdown-icon"></span>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="git-feature git-feature--fork">
          <a class="git-feature__main-content" href="#">
            <span class="git-feature__icon"></span><span>Fork </span
            ><span class="git-feature__counter">4,391</span></a
          >
          <div class="git-feature__details">
              <div class="git-feature__dropdown-icon-wrapper">
                <span class="git-feature__dropdown-icon"></span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
