<section class="features">
  <div class="features__content-wrapper">
    <h3 class="section-header section-header--colored">
      &#60;Here is what you get&#62;
    </h3>
    <div class="features__main-picture-wrapper">
    <img
      class="features__main-picture"
      src="./img/features/main-pic-1.png"
      alt="picture of screen with code"
    />
    </div>

    <ul class="features__features-list">
      <li class="features__feature-card">
        <div class="features__icon-wrapper">
          <img
            class="features__feature-icon"
            src="./img/features/1-page-icon.png"
            alt="feature web icon"
          />
        </div>
        <h3 class="features__feature-header">
          Creatred to Make The Web Better
        </h3>
        <p class="feature__feature-text">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </li>
      <li class="features__feature-card">
        <div class="features__icon-wrapper">
          <img
            class="features__feature-icon"
            src="./img/features/2-tool-icon.png"
            alt="feature tool icon"
          />
        </div>
        <h3 class="features__feature-header">Incredibly Powerful Tool</h3>
        <p class="feature__feature-text">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </p>
      </li>
      <li class="features__feature-card">
        <div class="features__icon-wrapper">
          <img
            class="features__feature-icon"
            src="./img/features/3-stuff-icon.png"
            alt="feature stuff icon"
          />
        </div>
        <h3 class="features__feature-header">Experimental Stuff</h3>
        <p class="feature__feature-text">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </p>
      </li>
      <li class="features__feature-card">
        <div class="features__icon-wrapper">
          <img
            class="features__feature-icon"
            src="./img/features/4-better-icon.png"
            alt="feature improve icon"
          />
        </div>
        <h3 class="features__feature-header">
          Creatred to Make The Web Better
        </h3>
        <p class="feature__feature-text">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </p>
      </li>
    </ul>
  </div>
</section>
