<section class="pricing">
  <div class="pricing__content-wrapper">
    <h3 class="section-header">Fork Subscription Pricing</h3>
    <!-- <button class="purchase-btn">Purchase</button>
    <button class="purchase-btn purchase-btn--active">Purchase</button> -->

    <ul class="pricing__pricnig-cards-list">
      <li class="pricing-card">
        <div class="pricing-card__name">Students</div>
        <p class="pricing-card__price">
          <span class="pricing-card__currency">$</span>29
        </p>
        <p class="pricing-card__period">per Month</p>
        <p class="pricing-card__terms">Personal License</p>
        <button class="purchase-btn">Purchase</button>
      </li>
      <li class="pricing-card">
        <div class="pricing-card__name">professional</div>
        <p class="pricing-card__price">
          <span class="pricing-card__currency">$</span>59
        </p>
        <p class="pricing-card__period">per Month</p>
        <p class="pricing-card__terms">Professional License Email Support</p>
        <button class="purchase-btn">Purchase</button>
      </li>
      <li class="pricing-card pricing-card--active">
        <div class="pricing-card__name">agency</div>
        <p class="pricing-card__price">
          <span class="pricing-card__currency">$</span>99
        </p>
        <p class="pricing-card__period">per Month</p>
        <p class="pricing-card__terms">1-12 Team Members Phone Support</p>
        <button class="purchase-btn purchase-btn--active">Purchase</button>
      </li>
      <li class="pricing-card">
        <div class="pricing-card__name">enterprise</div>
        <p class="pricing-card__price">
          <span class="pricing-card__currency">$</span>159
        </p>
        <p class="pricing-card__period">per Month</p>
        <p class="pricing-card__terms">
          Unlimited Team Members 24/ 7 Phone Support
        </p>
        <button class="purchase-btn">Purchase</button>
      </li>
    </ul>
  </div>
</section>
