$git-feature-border-style: 1px solid rgba(27, 31, 36, 0.15);
$git-feature-box-shadow-style: 0 1px 0 rgba(27, 31, 36, 0.04),
  inset 0 1px 0 rgba(255, 255, 255, 0.25);

.git-feature {
  border: $git-feature-border-style;
  background-color: rgba(27, 31, 36, 0.04);
  box-shadow: $git-feature-box-shadow-style;
  border-radius: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  color: rgb(36, 41, 47);

  display: flex;
  align-items: stretch;

  * {
    text-decoration: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: inherit;
    cursor: pointer;
  }

  &--star {
    .git-feature__icon {
      background-image: url("../img/sprite.svg#git--star");
    }
  }
  &--watch {
    .git-feature__icon {
      background-image: url("../img/sprite.svg#git--watch");
      margin: 0;
    }
    .git-feature__dropdown-icon {
      margin-left: 4px;
    }
  }

  &--fork {
    .git-feature__icon {
      background-image: url("../img/sprite.svg#git--fork");
    }
  }

  span {
    user-select: none;
    white-space: pre;
  }
}

.test {
  width: 12px;
  height: 14px;
}

.git-feature__main-content {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  @include set-font(12px, 500, 20px);
  padding: 3px 10px;
}

.git-feature__counter {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(27, 31, 36, 0.08);
  border-radius: 2em;
  margin-left: 2px;
  padding: 0 6px;
  font-family: inherit;
  min-width: 20px;
  line-height: 18px;
  display: inherit;
}

.git-feature__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: center no-repeat;
  background-size: cover;
  vertical-align: middle;
  margin-right: 8px;
}

.git-feature__details {
  display: inline-block;
  padding: 3px 8px;
  vertical-align: text-top;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: $git-feature-border-style;
  box-shadow: $git-feature-box-shadow-style;

  // summary {
  //   height: 100%;
  //   list-style-type: "";
  //   @include flexCenterCenter;

  // }
}

.git-feature__dropdown-icon-wrapper {
  width: 16px;
  height: 16px;
  text-align: center;
}

.git-feature__dropdown-icon {
  display: inline-block;
  width: 8px;
  height: 4px;
  color: red;
  border-top: 4px solid rgb(87, 96, 106);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
}

