.main-btn {
  display: inline-block;
  text-decoration: none;
  background-color: $btn-bg-color;
  border: 1px solid $btn-bg-color;
  color: $btn-txt-color;
  @include set-font(16px, 700, 17px);
  padding: 9px 34px;
  border-radius: 999px;

  &--big {
    @include set-font(21px, 700, 22px);
    padding: 19px 62px;
    border-width: 2px;
  }

  &:hover {
    background-color: $btn-txt-color;
    border-color: $btn-bg-color;
    color: $btn-bg-color;
  }

  @media screen and (max-width: 480px) {
    &--big {
      @include set-font(18px, 700, 20px);
      padding: 15px 29px;
      border-width: 2px;
    }
  }
}
