.pricing-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 256px;
  height: 460px;
  color: $pricing-card-txt-color;
  background-color: hsla(0, 0%, 100%, 0.11);

  .purchase-btn {
    margin: auto 0 37px;
  }

  &--active {
    max-width: 299px;
    // width: 299px;
    height: 560px;
    background-color: hsla(295, 20%, 24%, 0.84);

    .pricing-card__name {
       background-color: hsla(0, 0%, 0%, 0.11);
       margin-bottom: 14px;
    }

    .pricing-card__price {
      font-size: 82px;
      line-height: 78px;
    }

    .pricing-card__period {
      &::after {
        margin-top: 47px;
        margin-bottom: 48px;
      }
    }

      .purchase-btn {
    margin-bottom: 47px;
  }

  }
}

.pricing-card__name {
  @include set-font(24px, 400, 25px, uppercase);
  // color: inherit;
  background-color: hsla(0, 0%, 100%, 0.06);
  height: 97px;
  width: 100%;
  margin-bottom: 30px;

  @include flexCenterCenter;
}

.pricing-card__price {
  @include set-font(60px, 700, 57px);
  // color: inherit;
  margin-bottom: 20px;

  .pricing-card__currency {
    font-weight: 400;
  }
}

.pricing-card__period {
 @include set-font(14px, 400, 18px, uppercase);

 &::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 38px auto 30px;
  background-color: $pricing-card-divider-colot;
 }
}

.pricing-card__terms {
  @include set-font(16px, 400, 18px, capitalize);
  text-align: center;
  margin: 0 24px;
}
