.section-header {
  @include set-font(48px, 700, 50px, capitalize);
  color: $clr-section-header;

  &--colored {
    color: $clr-section-header-colored;
    text-transform: none;
    // height: 46px;
  }



}
