.header{
    height: 800px;
    background-image: url("../img/img\ 1@2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-width: $width-s;

    .header-nav{
        @include flexCentered;
        padding-top: 30px;
        margin: auto;    
        height: max-content; 
        padding-bottom: 40px; 
        padding-left: 10px;
        padding-right: 10px;
        .svg-menu--Rectangle_2-dims { 
            width: 36px; 
            height: 36px; 
            display: none;
            position: absolute;
            background-color: $header-nav-background;            
            z-index: 2;
        }
        .svg-menu--Vector_3-dims { 
            width: 36px; 
            height: 36px; 
            display: none;           
            z-index: 1;
        }

        .Logo_hero { 
            width: 43px; 
            margin-right: 18px;
            
        }
        .Logo_white{ 
            width: 43px; 
            margin-right: 18px;
            display: none;
            
        }
    }

    @media screen and (max-width: 992px) {
        .header-nav{
            background-color: $header-nav-background; 
                   
        };
       
    }           

    @media screen and (max-width: 480px) {
        .header-nav{
            justify-content: space-between;
            .svg-menu--Rectangle_2-dims{
                display: block;
            };  
            .svg-menu--Vector_3-dims { 
                display: block;        
            };       
        };
    }  

       .header-nav__logo-link{
        flex: 2 1 auto;
        text-decoration: none;
        margin-left: 50px; 
        display: flex;
        align-items: center;           
        font-family: "Lato";
        font-size: toRem(24px);
        text-transform: uppercase;       
        color: $hero_color;
        
         
          
        
        &:hover {
            color: $text_color;
            & .Logo_hero {
                display: none;
            }
            & .Logo_white {
                display: block;
            }
        }
            
    }
    
    @media screen and (max-width: 992px) {
        .header-nav__logo-link{ margin-left: 10px; }
    }

    @media screen and (max-width: 480px) {
        .header-nav__logo-link{
             flex: 0 1 auto;
             .header-nav__logo-text{
                display: none;
             }
         }
    }

    .header-nav__menu{
        flex: 1 1 auto;  
        .header-nav__list{
            @include flexCentered;
            width: 516px;                
            gap: 46px;
            
                .header-nav__items{
                    flex: 1 1 auto;                     
                }
            
                .header-nav__links{
                    @include links;
                    font-family: $fontMontserrat; 
                    
                    &:hover {
                        color: $text_color;
                    }
                }            
        }
        
    }

    @media screen and (max-width: 992px) {
        .header-nav__menu{
            position:absolute;
            top: 84px; 
            left: 0px;
            width: 100%;
            display: flex;
            justify-content: center;   
            padding-left: 10px;
            padding-right: 10px;
            
        };
    }

    @media screen and (max-width: 530px) {
        .header-nav__links{
            font-size: toRem(13px);
            
        };
    }

    @media screen and (max-width: 480px) {
        .header-nav__menu{
            justify-content: right;
            top: 112px;
            display:none;
            .header-nav__list{                
                padding-right: 10px;
                padding-left: 10px;
                flex-wrap: wrap;
                width: 290px; 
                row-gap: 0px;
               
                
                .header-nav__items{
                    width: 100%;
                    height: 88px;
                    background-color: $clr-lato-dard;    
                    display: flex;
                    align-items: center;  
                    border-bottom: 2px solid  hsla(0, 0%, 30%);
                    ;                            
                    
                    .header-nav__links{
                        font-size: toRem(26px);
                        width: 100%;
                        font-weight: 400;
                        color: $text_color;
                        padding-left: 34px;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        ;
                       
                        
                        &:hover {
                            color: $clr-section-header-colored;
                            border-left: 8px solid $clr-section-header-colored;
                        }
                    }   
                };
            };
        }
    }
    .header-nav__item-last{
        
        min-width: 146px;        
        text-align: center;
        margin-right:50px;           
    }
   
    @media screen and (max-width: 992px) {
        .header-nav__item-last{
            margin-right: 10px;
        }
    }

    .header-nav_icon-wrapper{
        position: relative;
        display: flex;
        align-items: center;
    }

    .header-hero{
        @include divCenter;
        margin-top: 76px;
        max-width: 714px;
        text-align: center;
        p {
            margin-top: 20px;
        }
        .header-hero__main{
            @include set-font(82px, 700, 82px);
             color: $text_color;
            
        }
        .header-hero__main--medium{
            font-family: $fontLato;
            font-size: toRem(30px);
            color: $hero_color;
        }
        .header-hero__main--small{
            font-family: $fontMontserrat;
            text-transform: uppercase;
            color: $hero_color_2;
            font-size: toRem(16px);
        }
    }

    @media screen and (max-width: 992px){
        .header-hero{
            .header-hero__main{
            @include set-font(72px, 700, 72px);
             };
            .header-hero__main--medium{
                font-size: toRem(24px);
                padding: 0px 10px;
            };
            .header-hero__main--small{
                font-size: toRem(14px);
            };
        }
    }

    @media screen and (max-width: 480px){
        .header-hero{
            .header-hero__main{
            @include set-font(48px, 700, 48px);
             };
            .header-hero__main--medium{
                font-size: toRem(18px);
                text-transform: capitalize;
                padding: 0px 28px;
            };
           
        }
    }
    .header-hero__download-wrapper{
        @include divCenter;
        width: 100%;
        height: 98px;       
        position: absolute;
        left: 0;
        bottom: -65px;
        text-align: center;
        
        .header-hero__trial-text{
            margin-top: 20px;
            font-family: $fontMontserrat;
            font-size: toRem(14px);
            color: $hero_color_2;
        }
    }

    @media screen and (max-width: 480px){
        .main-btn{
            font-size: roRem(18px);
        }
           
        
    }
}