.revol-editor {
  @include sectionCenter;
  min-width: $width-s;

  padding: {
    top: 129px;
    bottom: 70px;
  }

  &__content-wrapper {
    @include sectionContent;
    @include flexCenterCenter;
    flex-direction: column;
    summary: {
      width: 50px;
      height: 50px;
      background-color: rgb(201, 204, 153);
      display: block;
    }
  }

  @media screen and (max-width: $width-m-l) {
    padding-bottom: 88px;
    
  }
}

.revol-editor__header {
  @include set-font(54px, 700, 54px);
  text-transform: uppercase;
  color: $clr-section-header-dark;
  margin-bottom: 27px;
  text-align: center;

  @media screen and (max-width: $width-m-l) {
    font-size: 42px;
    line-height: 42px;
  }

  @media screen and (max-width: $width-s-m) {
    font-size: 26px;
    line-height: 28px;
  }
}

.revol-editor__txt {
  @include lato-font;
  @include set-font(21px, 400, 32px);
  color: $clr-lato-dard;
  text-align: center;
  max-width: 860px;
  margin-bottom: 21px;

  @media screen and (max-width: $width-s-m) {
    @include set-font(14px, 400, 20px);
  }
}

.revol-editor__git-features-list {
  @include flexCenterCenter;
  gap: 20px 10px;
  flex-wrap: wrap;
}
