* {
  box-sizing: border-box;
}

.html {
  font-size: $rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  @include divCenter;
  
}

#svg_inline {
  display: none;
}


