$main-content-padding: 10px;
$width-max-content: 1200px;
$width-min-content: 320px;

$width-l: 1200px;
$width-m-l: 992px;
$width-m: 768px;
$width-s-m: 480px;
$width-s: 320px;

$feature-icone-max-size: 111px;
$feature-icone-mid-size: 90px;


